:root {
  --carousel-height: 100vh;
  --carousel-width: 100vw;
  --padding-x: calc((100vw - 1500px) / 2);
}

@media screen and (max-width: 1800px) {
  :root {
    --padding-x: 150px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --padding-x: 120px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --padding-x: 20px;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --padding-x: 15px;
  }
}
