.container {
  display: block;
  position: relative;
  width: var(--carousel-width, 0);
  height: var(--carousel-height, 0);
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slideList {
  width: max-content;
  display: flex;
  transition: transform 0.25s ease-in-out;
}

.slideItem {
  width: var(--carousel-width, 0);
  height: var(--carousel-height, 0);
  display: block;
  overflow-y: auto;
  padding: 0 var(--padding-x) 70px var(--padding-x);
}

.bottomControls {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0a1929;
}

.prevButton {
  display: none !important;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: calc(calc((100vw - 1500px) - 150px) / 2);
}

.nextButton {
  display: none !important;
  position: fixed;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(calc((100vw - 1500px) - 150px) / 2);
}

.pageInfo {
  position: fixed;
  bottom: 18px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1800px) {
  .nextButton {
    right: calc(var(--padding-x, 20px) / 2);
  }

  .prevButton {
    left: calc(var(--padding-x, 20px) / 2);
  }
}

@media (min-width: 700px) {
  .prevButton {
    display: inline-flex !important;
  }

  .nextButton {
    display: inline-flex !important;
  }

  .bottomControls {
    display: none;
  }

  .slideItem {
    padding: 0 var(--padding-x) 0 var(--padding-x);
  }

  .pageInfo {
    top: 30px;
    right: 30px;
    left: unset;
    bottom: unset;
    transform: none;
  }
}
